<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="mailSettings">
      <section name="home" type="System.Net.Configuration.SmtpSection"/>
      <section name="dipa" type="System.Net.Configuration.SmtpSection"/>      
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ad-usr" value="fIdUH9Pz71AW4S1BGQDIemBGqOg="/>
    <add key="ad-pwd" value="EMxKBfJGEa/AaCUWsGKxYHQki7s="/>
    <add key="ad-mail" value="TeCVTT/jLkfr4JvsBQEJ4oeMPgFPBq6/HvDs4XmN6yA1fEarjnwxSHkeTzvr5iIT5UPjxe35/e5FwvMjnDKL3c3y+yAdqXtDmEr/LTfr+WHQXnNGR47zs2nzjiBvkVED"/>
    <add key="pwdcr-xml" value="qswdef34!£"/>
    <add key="enc-ext-xml" value="tlenc"/>
    <add key="settings-folder" value="{@basepath}\defs"/>
    <add key="settings-file" value="{@basepath}\base.xml"/>
  </appSettings>
  <mailSettings>
    <home from="deepanotes@dipasport.com">
      <network host="smtp.thelantern.it" userName="QFYMKe08IHp72NfxgnHUPvnNQjHAk/U1xCwIWJnQ7n4xLWvzNLc7K5BCnDRTNfAHtFkjZcx+hsBK3EZAMGFnkX8pTMSEuZd6qRPRqfvG/dSiQepnUMfGhLX12V0NfkcC" password="mvvtTNqeTdagBz35b0Fip/zDrp6xV/kmagumE76ieKSxOMXPWG5WS5bjCyRPIrZ30mBJgA8gNvO02T8cA9/GN3ZL220SBDQtyUBXPHn8Gd5n4qARsL72pGh+U4WnMWPE"/>
    </home>
    <dipa from="deepanotes@dipasport.com">
      <network host="smtp.dipasport.com" userName="y2kjhSuWv3yLGBDBQ0zVulfPie2xaAN3RW9BmvkB0hymWby0n7xKmy0YLP25zuga8ni6ulV9VEh/9oluTiUlSGMehp2m/U9cul09ZtcQElsfs1p0Mdet+bK7wP/Goc+c" password="/nrhOD8jmHIITYW8W0qUt92KSpQYSBfDq2cIa1NVNH9AeJrdwunkmi+5L+Gapp2L8iGerBNQjQxzQ9QsfVUElRZc1aV6db4Ab3/MXNHPWy6t7FtwLgbXXGjWdbW/b8Vk"/>
    </dipa>
  </mailSettings>
  <log4net>
    <!--
  This stores information in the mylogfile.txt file.  It only captures log events
  that contain the key word test or error.
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="_log/dn-%date{yyyyMMdd}.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maxSizeRollBackups value="30"/>
      <maximumFileSize value="3MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />-->
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="10080" name=".DNAUTH"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="104857600" enable="True" requestLengthDiskThreshold="512" useFullyQualifiedRedirectUrl="True" executionTimeout="300"/>
    <sessionState timeout="1440" mode="InProc"/>
    <globalization enableClientBasedCulture="true" uiCulture="auto" fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8"/>
  </system.web>
  <system.net/>
  <!-- This section gives the unauthenticated user access to the Default1.aspx page only. It is located in the same folder as this configuration file. -->
  <location path="confirm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="iscritto.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="reiscritto.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="new.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="io.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="reimposta.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="toreimposta.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="test.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ITransactionProcessor" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="50000000" maxBufferPoolSize="524288" maxReceivedMessageSize="50000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="4096" maxNameTableCharCount="50000000"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=8,IE=9"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <!--<hiddenSegments>
          <add segment="_files" />
          <add segment="_backups" />
          <add segment="_log" />
        </hiddenSegments>-->
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>